<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.electron.powertimetracking.backend.plist</string>
	<key>ProgramArguments</key>
	<array>
        <!-- <string>sh</string>
        <string>-c</string> -->
        <!-- <string>./Applications/PowerTimeTracking.app/Contents/Resources/app/src/scripts/runbackend</string> -->
        <string>/Applications/PowerTimeTracking.app/Contents/Resources/app/src/py/../python/bin/python3</string>
        <string>/Applications/PowerTimeTracking.app/Contents/Resources/app/src/py/server.py</string>
        <string>></string>
        <string>/tmp/powertimetracking.log</string>
        <string>2>&1</string>
        <string>&</string>
	</array>
    <!-- <key>StandardOutPath</key>
    <string>/tmp/com.electron.powertimetracking.backend.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/com.electron.powertimetracking.backend.log</string> -->
	<key>KeepAlive</key>
	<true/>
</dict>
</plist>
