body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  align-items: center;
}
.float-parent-element { 
  position:relative;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
} 
.float-child-element { 
  float: left; 
  padding: 1em;

} 
.center {
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#app_status_table {
  border-style: solid;
  width: 100%;
  align-self: center;
  border-collapse: collapse;
}
[hidden] {
  display: none !important;
}
/* tbody:nth-child(even) {
  background-color: rgba(138, 128, 138, 0.133);
} */