body {
  font-family: -apple-system,'Times New Roman', Times, serif;

  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding:2em;
  margin:300px;
  background-color: #FAFAFA;
  color: rgb(0, 0, 0);
}
.float-child-element { 
  padding: 1em;
  margin:.5em;
} 
.center {
  text-align: center;
}
#app_status_table_div {
  border-style: solid;
  width: 100%;
  max-height:35em;
  overflow-y:scroll;
  align-self: center;
  border-collapse: collapse;
}
#daily_tasks_list_div{
  display:flex;
  align-items:stretch;
  justify-content:space-around;
}
.completed_task{
  background-color: #00ff00ed;
}
[hidden] {
  display: none !important;
}
tbody:nth-child(even) {
  background-color: rgba(138, 128, 138, 0.133);
}
#app_status_search {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 50%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#app_status_table {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
  overflow-y: scroll; 
  height:35em;
}

#app_status_table th, #app_status_table td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#app_status_table tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd; 
}

#app_status_table tr.header, #app_status_table tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
  
}
#focus_name_input,#task_name_input{
  width:40ch;
}
#previous_focus_modes_div{
  overflow-y: scroll; 
  height:35em;
  display:flex;
  justify-content:space-around;
}
/* PURE CSS ADDITION */
.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 1px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65) !important ;
    /* this is a green */
}

.button-error {
    background: rgb(221, 53, 53) !important ;
    /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20) !important ;
    /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221) !important ;
    /* this is a light blue */
}