/* @import url('fonts/manrope-v14-latin-regular.woff2'); */
/* @import url('https://fonts.googleapis.com/css?family=Anton');
body {
  margin: 0;
  font-family: 'Anton', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
